html, body {

    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(40, 40, 40) !important;
    color: rgb(230, 230, 230) !important;
}

.custom-font {

    font-family: 'Montserrat', sans-serif;
}

.navbar {

    min-height: 70px;
}

.full-page {

    /*min-height: 700px !important;*/
    width: 100% !important;
    height: calc(100vh - 130px) !important;
    padding: 0 !important;
    margin: 0 !important;
}

.footer-copyright {

    min-height: 20px !important;
    padding: 15px !important;
}
