html, body {

    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(40, 40, 40) !important;
    color: rgb(230, 230, 230) !important;
}

#home {
    
    background-color: rgb(30, 30, 30);
    display: table;
    height: 100%;
    width: 100%;
}

.custom-font {

    font-family: 'Montserrat', sans-serif;
}

.navbar {

    min-height: 80px;
}

.full-page {

    width: 100vw !important;
    height: calc(100vh - 140px) !important;
    padding: 0 !important;
    margin: 0 !important;
}

.col-lg-6 {

    padding: 30px !important;
}

.footer-copyright {

    min-height: 40px !important;
    padding: 15px !important;
}
